
<section class="login-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center" *ngIf="!error">
      <div class="col-md-6">
        <div class="login-box">
          <h1>Administrator Login</h1>
          <div class="alert alert-danger" *ngIf="loginError">
            {{loginError}}
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" formControlName="username" class="form-control" placeholder="Username" required>
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
                <div *ngIf="username.errors">
                  Username is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                <div *ngIf="password.errors">
                  Password is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
    </div>
  </div>
</section>
