
<div class="dash-header">
  <div class="dash-title">
    <h1>{{title}}</h1>
  </div>
  <div class="dash-nav">
    <a [routerLink]="['/admin/blogs/create']" class="btn btn-success">Add Post</a>
  </div>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>#ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let blog of blogs">
    <td>{{blog.id}}</td>
    <td><img src="{{blog.image}}" ></td>
    <td>{{blog.title}}</td>
    <td>{{blog.created_at | date: 'mediumDate'}}</td>
    <td class="action">
      <a [routerLink]="['/admin/blogs/edit', blog.id]" class="btn btn-info btn-sm">Edit</a>
      <a (click)="onDelete(blog.id)" class="btn btn-danger btn-sm">Delete</a>
    </td>
  </tr>
</table>
{{error}}
